<form [formGroup]="usersForm" (ngSubmit)="onSubmit()" class="formUser">
  <div formArrayName="users">
    <div *ngFor="let user of users.controls; let i=index">
      <div [formGroupName]="i" class="user">
        <div>
          <div class="key">firstName</div>
          <input type="text" formControlName="firstName" class="data">

          <ng-container
            *ngIf="users.controls[i].get('firstName')?.touched || !users.controls[i].get('firstName')?.pristine">
            <p class="errore" *ngIf="users.controls[i].get('firstName')?.hasError('required')">
              fill in the field
            </p>
            <p class="errore" *ngIf="users.controls[i].get('firstName')?.hasError('minlength')">
              The minimum number of letters must be
              {{users.controls[i].get('firstName')?.errors?.['minlength'].requiredLength}}
            </p>
          </ng-container>
        </div>
        <div>
          <div class="key">lastName</div>
          <input type="text" formControlName="lastName" class="data">

          <ng-container
            *ngIf="users.controls[i].get('lastName')?.touched || !users.controls[i].get('lastName')?.pristine">
            <p class="errore" *ngIf="users.controls[i].get('lastName')?.hasError('required')">
              fill in the field
            </p>
            <p class="errore" *ngIf="users.controls[i].get('lastName')?.hasError('minlength')">
              The minimum number of letters must be
              {{users.controls[i].get('lastName')?.errors?.['minlength'].requiredLength}}
            </p>
          </ng-container>
        </div>
        <div>
          <div class="key">age</div>
          <input type="number" formControlName="age" class="data">

          <ng-container *ngIf="users.controls[i].get('age')?.touched || !users.controls[i].get('age')?.pristine">
            <p class="errore" *ngIf="users.controls[i].get('age')?.hasError('required')">
              fill in the field
            </p>
            <p class="errore" *ngIf="users.controls[i].get('age')?.hasError('min')">
              must be at least
              {{users.controls[i].get('age')?.errors?.['min'].min}}
              years old
            </p>
          </ng-container>
        </div>
        <div>
          <div class="key">email</div>
          <input type="text" formControlName="email" class="data">

          <ng-container *ngIf="users.controls[i].get('email')?.touched || !users.controls[i].get('email')?.pristine">
            <p class="errore" *ngIf="users.controls[i].get('email')?.hasError('required')">
              fill in the field
            </p>
            <p class="errore" *ngIf="users.controls[i].get('email')?.hasError('email')">
              Write the e-mail correctly
            </p>
            <p class="errore" *ngIf="users.controls[i].get('email')?.hasError('hasEmail')">
              Email Adress is already in use
            </p>
          </ng-container>
        </div>
        <button [hidden]="i===0"
        (click)="removeUser(i)" class="remove" type="button">remove</button>
      </div>
    </div>

  </div>
  <div class="btns">
    <button type="button" (click)="addUser()" class="add">Add</button>
    <button 
      [class.invalidForm]="usersForm.invalid"
      type="submit" 
      class="submit" 
      [disabled]="usersForm.invalid">Submit</button>
  </div>
 
</form>

<app-users-table></app-users-table>